<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Enrique | @ViewBag.Title</title>
    <meta content="Personal Site, Jr. Web Developer Enrique Garcia." name="description">
    <meta content="Centriq Training, Web Developer, Web Development, Full Stack, MVC" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/favicon/favicon.ico" rel="icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/aos/aos.css" rel="stylesheet">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- jquery for accordian -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <!-- Template Main CSS File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!--Custom.cc-->
    <link href="~/Content/css/custom.css" rel="stylesheet" />


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <h1 class="logo me-auto me-lg-0"><a href="@Url.Action("Index","Home")">EG-Dev</a></h1>

            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                    <li><a href="@Url.Action("Resume", "Home")">Resume</a></li>
                    <li><a href="@Url.Action("Links","Home")">Links</a></li>
                    <li><a href="@Url.Action("Portfolio","Home")">Portfolio</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="header-social-links">
                <a href="https://www.linkedin.com/in/enrique-garcia1010/" class="linkedin" target="_blank"><i class="fa-lg bi bi-linkedin"></i></a>
                <a href="https://github.com/eriquz" class="linkedin" target="_blank"><i class="fa-lg bi bi-github"></i></a>
            </div>

        </div>

    </header><!-- End Header -->
    <!--Renders any View upon Request-->
    @*class=container body-content*@
    <div style="margin-top: 2em">
        @RenderBody()

    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Enrique Garcia</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/purecounter/purecounter.js"></script>
    <script src="~/Content/aos/aos.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/waypoints/noframework.waypoints.js"></script>
    <script src="~/Content/php-email-form/validate.js"></script>
    <!--CUSTOM JS-->
    @*<script src="~/Content/typed.js/typed.min.js"></script>*@


    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>
    <!--Custom JS-->
    <script src="~/Scripts/Custom.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>



    @RenderSection("Scripts", false)

    <script>
        $('nav ul li a').each(function () {
            if ($(this).attr('href') == window.location.pathname) {
                $(this).addClass('active');
            }
        });

    </script>
</body>
</html>